# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
Raw.Data/0010272-241126133413365.zip
Raw.Data/USGS_13_n26w081_20231221.tif
Raw.Data/USGS_13_n36w093_20241002.tif
Raw.Data/USGS_13_n43w101_20220726.tif
Results/unused/microclim_elevation_tile1.tif
Formatted.Data/gbif.data.soils.0.100cm.csv
Formatted.Data/gbif.filtered.csv
Formatted.Data/good.gbif.data.csv
Formatted.Data/microclim.output.6.csv
Results/climate.data.output.1.csv
